header {
  transition: opacity 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: white;
  box-shadow: 0 3px 1px -8px rgba(0, 0, 0, 0.2),
    0 -1px 0px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  opacity: 0;
  z-index: -1;
}

content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo {
  position: absolute;
  left: 5vw;
  max-width: 14vw;
}
